<a href="https://colab.research.google.com/github/juanpalominoh/Econometria-Intermedia/blob/main/Tema_1_2_Modelo_de_Regresi%C3%B3n_Lineal_Cl%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tema 1.2 - Modelo de Regresión Lineal Clásico**

In [1]:
# Instalar paquetes
install.packages("readstata13")   # Importa base de datos
install.packages("memisc")        # Reporta Tablas
install.packages("dplyr")         # Manipulación de datos
install.packages("skimr")         # Estadísticas descriptivas

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘Rcpp’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
# Llamar librerias
library(readstata13)
library(dplyr)
library(memisc)
library(skimr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: lattice

Loading required package: MASS


Attaching package: ‘MASS’


The following object is masked from ‘package:dplyr’:

    select



Attaching package: ‘memisc’


The following objects are masked from ‘package:dplyr’:

    collect, recode, rename, syms


The following objects are masked from ‘package:stats’:

    contr.sum, contr.treatment, contrasts


The following object is masked from ‘package:base’:

    as.array

# 1. Cargar Paquete de Datos

In [5]:
# Importar bases de datos
enaho2020 <- read.dta13("/content/clean_enaho_2020.dta", convert.factors = F) 
enaho2020

In [7]:
# Nombre de variables
names(enaho2020)

 [1] "conglome" "vivienda" "hogar"    "codperso" "ubigeo"   "dpto"
 [7] "area"     "zona"     "edad"     "sexo"     "sch"      "niv_educ"
[13] "estatus"  "jefe"     "ocu500"   "wage"     "fac500a"

In [9]:
# Numero de observaciones y variables
dim(enaho2020)

[1] 45876    17

# 2. Estadística Descriptiva

In [10]:
# Resumen Estadistico de variables
summary(enaho2020)

   conglome           vivienda            hogar             codperso
 Length:45876       Length:45876       Length:45876       Length:45876
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



    ubigeo               dpto           area             zona
 Length:45876       Min.   : 1.0   Min.   :0.0000   Min.   :1.000
 Class :character   1st Qu.: 7.0   1st Qu.:0.0000   1st Qu.:1.000
 Mode  :character   Median :14.0   Median :1.0000   Median :2.000
                    Mean   :13.1   Mean   :0.6346   Mean   :2.136
                    3rd Qu.:19.0   3rd Qu.:1.0000   3rd Qu.:3.000
                    Max.   :25.0   Max.   :1.0000   Max.   :4.000
      edad            sexo             sch            niv_educ
 Min.   :14.00   Min.   :0.0000   Min.   : 0.000   Min.   : 1.000
 1st Qu.:32.00   1st Qu.:0.0000   1st Qu.: 6.000   1st Qu.: 4.000
 Median :44.00   Median :1.0000   Median :11.000   Median : 6.000
 Mean   :44.27   Mean   :0.6049   Mean   : 9.621   Mean   : 5.902
 3rd Qu.:55.00   3rd Qu.:1.0000   3rd Qu.:13.000   3rd Qu.: 8.000
 Max.   :98.00   Max.   :1.0000   Max.   :18.000   Max.   :12.000
    estatus            jefe           ocu500       wage
 Min.   :0.0000   Min.   :0.000   Min.   :1   Min.   :    2.0
 1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:1   1st Qu.:  325.9
 Median :1.0000   Median :1.000   Median :1   Median :  766.4
 Mean   :0.5997   Mean   :0.566   Mean   :1   Mean   : 1176.8
 3rd Qu.:1.0000   3rd Qu.:1.000   3rd Qu.:1   3rd Qu.: 1480.8
 Max.   :1.0000   Max.   :1.000   Max.   :1   Max.   :74092.2
    fac500a
 Min.   :   0.3713
 1st Qu.:  88.8874
 Median : 182.0445
 Mean   : 279.8328
 3rd Qu.: 354.0065
 Max.   :2820.7278

In [11]:
skimr::skim(enaho2020)

── Data Summary ────────────────────────
                           Values
Name                       enaho2020
Number of rows             45876
Number of columns          17
_______________________
Column type frequency:
  character                5
  numeric                  12
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
  skim_variable n_missing complete_rate min max empty n_unique whitespace
1 conglome              0             1   6   6     0     5351          0
2 vivienda              0             1   3   3     0      543          0
3 hogar                 0             1   2   2     0       12          0
4 codperso              0             1   2   2     0       15          0
5 ubigeo                0             1   6   6     0     1217          0

── Variable type: numeric ──────────────────────────────────────────────────────
   skim_variable n_missing complete_rate     mean       sd     p0   p25  p50
 1 dpto                  0             1   13.1      6.81   1       7    14
 2 area                  0             1    0.635    0.482  0       0     1
 3 zona                  0             1    2.14     0.986  1       1     2
 4 edad                  0             1   44.3     15.5   14      32    44
 5 sexo                  0             1    0.605    0.489  0       0     1
 6 sch                   0             1    9.62     4.75   0       6    11
 7 niv_educ              0             1    5.90     2.41   1       4     6
 8 estatus               0             1    0.600    0.490  0       0     1
 9 jefe                  0             1    0.566    0.496  0       0     1
10 ocu500                0             1    1        0      1       1     1
11 wage                  0             1 1177.    1540.     2     326.  766.
12 fac500a               0             1  280.     299.     0.371  88.9 182.
     p75   p100 hist
 1   19     25  ▅▅▇▅▅
 2    1      1  ▅▁▁▁▇
 3    3      4  ▇▇▁▅▂
 4   55     98  ▅▇▇▂▁
 5    1      1  ▅▁▁▁▇
 6   13     18  ▂▃▂▇▃
 7    8     12  ▅▇▇▃▃
 8    1      1  ▆▁▁▁▇
 9    1      1  ▆▁▁▁▇
10    1      1  ▁▁▇▁▁
11 1481. 74092. ▇▁▁▁▁
12  354.  2821. ▇▁▁▁▁

Warning message in is.null(text_repr) || nchar(text_repr) == 0L:
“'length(x) = 17 > 1' in coercion to 'logical(1)'”

[object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object][object Object]

# 3. Modelo con diferentes controles

Podemos estimar diferentes versiones del siguiente modelo de regresión:

\begin{gather*}
ln(wage_{i}) = \beta_{1} + \beta_{2} sch_{i} + x'_{i}\delta + \epsilon_{i}
\end{gather*}

donde $wage_i$ es el ingreso salarial mensual del individuo.

In [12]:
# 2. Modelos con diferentes controles -----
ols_1 <- lm(log(wage) ~ sch,
            data = enaho2020)
ols_2 <- lm(log(wage) ~ sch + sexo,
            data = enaho2020)
ols_3 <- lm(log(wage) ~ sch + sexo + edad,
            data = enaho2020)
ols_4 <- lm(log(wage) ~ sch + sexo + edad + estatus,
            data = enaho2020)

Presentando los resultados en la siguiente tabla:

In [13]:
table_1 <- mtable("Model 1" = ols_1,
                  "Model 2" = ols_2,
                  "Model 3" = ols_3,
                  "Model 4" = ols_4,
                  summary.stats = c("N", "R-squared"),
                  coef.style = "default")
table_1

Calls:
Model 1: lm(formula = log(wage) ~ sch, data = enaho2020)
Model 2: lm(formula = log(wage) ~ sch + sexo, data = enaho2020)
Model 3: lm(formula = log(wage) ~ sch + sexo + edad, data = enaho2020)
Model 4: lm(formula = log(wage) ~ sch + sexo + edad + estatus, data = enaho2020)

=======================================================================
                 Model 1       Model 2       Model 3       Model 4
-----------------------------------------------------------------------
  (Intercept)      5.447***      5.263***      4.895***      4.864***
                  (0.011)       (0.012)       (0.021)       (0.021)
  sch              0.110***      0.110***      0.118***      0.118***
                  (0.001)       (0.001)       (0.001)       (0.001)
  sexo                           0.305***      0.303***      0.271***
                                (0.010)       (0.010)       (0.010)
  edad                                         0.007***      0.006***
                                              (0.000)       (0.000)
  estatus                                                    0.163***
                                                            (0.010)
-----------------------------------------------------------------------
  N            45876         45876         45876         45876
  R-squared        0.211         0.229         0.236         0.240
=======================================================================
  Significance: *** = p < 0.001; ** = p < 0.01; * = p < 0.05

In [14]:
install.packages("stargazer")
library(stargazer)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Please cite as:


 Hlavac, Marek (2022). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.3. https://CRAN.R-project.org/package=stargazer

In [15]:
stargazer(ols_1, ols_2, ols_3, ols_4, type="html", out="ols.html",
          covariate.labels = c("Escolaridad", "Hombre", "Edad", "Con pareja","Constant"),
          dep.var.labels=c("Logaritmo del Salario"),
          title = "Modelo de Regresion Lineal",
          notes = c("Fuente: Elaboracion Propia"))

<table style="text-align:center"><caption><strong>Modelo de Regresion Lineal</strong></caption>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="4"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="4" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="4">Logaritmo del Salario</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td></tr>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Escolaridad</td><td>0.110<sup>***</sup></td><td>0.110<sup>***</sup></td><td>0.118<sup>***</sup></td><td>0.118<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.001)</td><td>(0.001)</td><td>(0.001)</td><td>(0.001)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Hombre</td><td></td><td>0.305<sup>***</sup></td><td>0.303<sup>***</sup></td><td>0.271<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.010)</td><td>(0.010)</td><td>(0.010)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Edad</td><td></td><td></td><td>0.007<sup>***</sup></td><td>0.006<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td>(0.0003)</td><td>(0.0003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Con pareja</td><td></td><td></td><td></td><td>0.163<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td>(0.010)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>5.447<sup>***</sup></td><td>5.263<sup>***</sup></td><td>4.895<sup>***</sup></td><td>4.864<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.011)</td><td>(0.012)</td><td>(0.021)</td><td>(0.021)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>45,876</td><td>45,876</td><td>45,876</td><td>45,876</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.211</td><td>0.229</td><td>0.236</td><td>0.240</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.211</td><td>0.229</td><td>0.236</td><td>0.240</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>1.011 (df = 45874)</td><td>1.000 (df = 45873)</td><td>0.995 (df = 45872)</td><td>0.992 (df = 45871)</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>12,294.650<sup>***</sup> (df = 1; 45874)</td><td>6,796.077<sup>***</sup> (df = 2; 45873)</td><td>4,714.766<sup>***</sup> (df = 3; 45872)</td><td>3,624.893<sup>***</sup> (df = 4; 45871)</td></tr>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="4" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
<tr><td style="text-align:left"></td><td colspan="4" style="text-align:right">Fuente: Elaboracion Propia</td></tr>
</table>

# 4. Usando operaciones matriciales

Ahora, estimamos MCO y la matriz de varianza-covarianza usando operaciones matriciales. Primero, creamos la matriz $X$ de variables independientes y el vector $y$:

In [17]:
# Crear X e y
X <- cbind(1, enaho2020$sch,
           enaho2020$sexo,
           enaho2020$edad,
           enaho2020$estatus)
y <- log(enaho2020$wage)

Para obtener el estimador $\hat\beta$
\begin{gather*}
\hat\beta_{MCO}=(X'X)^{-1}X'y
\end{gather*}

Computamos:

In [18]:
b_hat <- solve(crossprod(X)) %*% crossprod(X, y) # (X'X)^-1 X'y
b_hat

     [,1]
[1,] 4.864180026
[2,] 0.118109938
[3,] 0.271037276
[4,] 0.005513234
[5,] 0.163247777

Los resultados son los mismos que se reportan en el modelo 4 de la Tabla pervia. Ahora estimamos $\hat\sigma^2$ usando la ecuación:
\begin{gather*}
\hat\sigma^2 = \frac{SCR}{n-K}=\frac{\hat\epsilon'\hat\epsilon}{n-K}
\end{gather*}

In [19]:
# Creamos sigma squared hat
y_hat <- X %*% b_hat
e_hat <- y - y_hat
sigma2_hat <- crossprod(e_hat) / (length(y) - ncol(X))  # n-K
sigma2_hat

     [,1]
[1,] 0.9844928

Finalmente, computamos la matriz de varianza-covarianza de $\hat\beta$ junto con los errores estándar:
\begin{gather*}
\widehat{Var(\hat\beta|X)} \equiv \hat\sigma^2 (X'X)^{-1}
\end{gather*}

In [20]:
# Creamos errores estándar
V_hat <- drop(sigma2_hat) * solve(crossprod(X))
se <- sqrt(diag(V_hat))
se

[1] 0.0214679441 0.0010466643 0.0096734886 0.0003273275 0.0099023595